---
import MainLayout from "@layouts/MainLayout.astro";
import Pagination from '@components/shared/Pagination.astro';
import { actions } from 'astro:actions';
import { Formatter } from "@utils/formatter";
import ProductImage from "@components/products/ProductImage.astro";

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get('page')) || 1;
const page = Math.max(pageParam, 1);

const {data, error} = await Astro.callAction(actions.getProductsByPage, {page});

if (error) {
  return Astro.redirect('/');
}

const { products, totalPages} = data;
---
<MainLayout title="Panel Administrativo" description="Página de administración del sitio web">
  <h1 class="text-3xl">Productos</h1>
  <p>Listado de productos</p>

  <table class="w-full mt-2">
    <thead>
      <tr>
        <th class="text-left">Imagen</th>
        <th class="text-left">Titulo</th>
        <th class="text-left">Precio</th>
        <th class="text-left">Inventario</th>
      </tr>
    </thead>
    <tbody>
      {
        products.map(product => (
          <tr>
            <td>
              <ProductImage src={product.images.split(',')[0]} alt={product.title} className="w-16 h-16" />
            </td>
            <td>
              <a href={`/admin/products/${product.slug}`} class="hover:underline cursor-pointer">{product.title}</a>
            </td>
            <td>{Formatter.currency(product.price)}</td>
            <td>{product.stock}</td>
          </tr>
        ))  
      }
    </tbody>
  </table>

  <Pagination totalPages={totalPages}  />
</MainLayout>